<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.angularjs.org/1.5.8/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap.min.css">
    <script src="module.js"></script>
    <script src="student-details.svc.js"></script>
    <script src="app.js"></script>
</head>

<body ng-controller='HomeCtrl as vm'>
    <div class="container">
        <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font">
                    <strong>Student Details</strong>
                  </h1>
            <div class="row" style="border-radius: 6px;border: 1px solid #a0a0a0;padding: 7px">
                <div class="form-group col-sm-3 col-md-3">
                    <label for="transport">Name:</label>
                    <input type="text" name="name" ng-model="vm.ui.name" placeholder="Name" class="form-control" ng-keyup="$event.keyCode === 13">
                </div>
                <div class="form-group col-sm-3 col-md-3">
                    <label for="transport">Email:</label>
                    <input type="email" name="email" ng-model="vm.ui.email" placeholder="Name" class="form-control" ng-keyup="$event.keyCode === 13" required>
                </div>
                <div class="form-group col-sm-3 col-md-3">
                    <label for="transport">Departments</label>
                    <select name="Number of levels" class="form-control mb-9" ng-model="vm.ui.dept" required>
                        <option ng-repeat="(key, value) in vm.departments" value="{{key}}">{{value}}</option>
                    </select>
                </div>
                <div class="form-group col-sm-3 col-md-3">
                    <label for="transport">Sections</label>
                    <select name="Number of levels" class="form-control mb-9" ng-model="vm.ui.sections" required>
                        <option ng-repeat="(key, value) in vm.sections" value="{{key}}">{{value}}</option>
                    </select>
                </div>
                <div class="form-group col-sm-3 col-md-3">
                    <label for="transport">Hobbies</label>
                    <input type="text" name="agents" ng-model="vm.ui.hobbies" placeholder="Hobbies" class="form-control" ng-keyup="$event.keyCode === 13">
                </div>
                <div class="form-group col-sm-3 col-md-3">
                    <label for="transport">Gender:</label>
                    <div class="radio" ng-repeat="(k,value) in vm.gender">
                        <input type="radio" name="optradio1" ng-model="vm.ui.gender" value="{{k}}">{{value}}
                    </div>
                </div>
                <div class="form-group col-sm-3 col-md-3">
                    <label for="transport">Date Of Birth:</label>
                    <input type="date" name="bday" ng-model="vm.ui.bday">
                </div>
                <div class="form-group col-sm-3 col-md-3">
                    <label for="transport">Created On:</label>
                    <input type="date" name="creationDate" ng-model="vm.ui.creationDate">
                </div>
                <div class="form-group col-md-1 col-sm-1" style="margin-top: 20px; margin-left: 2px;">
                    <label></label>
                    <button class="btn btn-sm btn-rounded-10 btn-default" ng-click="vm.add();">Add
                    </button>
                </div>
            </div>
        </div>
        <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font">
                    <strong>User Details</strong>
                  </h1>
        </div>
        <div class="tile-body">
            <div class="tile-body p-0">
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Name of Student</th>
                                <th>Email</th>
                                <th>Department</th>
                                <th>Section</th>
                                <th>Gender</th>
                                <th>Date Of Birth</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(k,v) in  vm.users track by $index">
                                <td>
                                    <span>{{v.name}}</span>
                                </td>
                                <td>
                                    <span>{{v.email}}</span>
                                </td>
                                <td>
                                    <span>{{vm.departments[v.dept]}}</span>
                                </td>
                                <td>
                                    <span>{{vm.sections[v.sections]}}</span>
                                </td>
                                <td>
                                    <span>{{vm.gender[v.gender]}}</span>
                                </td>
                                <td>
                                    <span>{{v.bday |date:medium}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
